.border{
    border: 2px solid red;
}
.flex{
    display:flex
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter:invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius:7px;
}
.m-1{
    margin:5px;
    ;
}
/* .cardContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
} */

/* ===== Spotify Style Scrollbar ===== */

/* width of scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* track (background) */
::-webkit-scrollbar-track {
    background: transparent;
}

/* draggable part */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}